.tabs {
  display: flex;
  justify-content: flex-end;
}

.tabs * {
  padding-right: 0 !important;
  align-items: flex-end;
  display: inline;
}

/* customize the indicator's shape */
.tabs div div div + span {
  width: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 0;
  background-color: transparent;
}
.tabs div div div + span::after {
  content: "✔";
  color: brown;
}

/* make the tab move a little to the left */
.tabs div div div a::after {
  content: "";
  margin-left: 24px;
}

.tabs div div div button {
  padding: 0;
}

/* change the selected tab's color */
.Mui-selected {
  color: brown !important;
}
.active {
  color: brown !important;
}

.tab {
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-size: large;
  line-height: x-large;
  font-family: Times, "Times New Roman", Georgia, serif;
  margin: 10px 0;
}

.tab:hover {
  color: brown;
}
