/* UserProfile css */

.userProfile {
  width: 98%;
  height: 96%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0 20px 0 20px;
  box-shadow: 0.5px 0.5px 10px 1px rgba(0, 0, 0, 0.1);
}

.avatar {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.username {
  flex: auto;
  color: rgb(60, 60, 60);
  font-size: x-large;
  font-family: Georgia, serif, cursive;
  font-weight: 900;
  line-height: 100%;
  overflow-wrap: break-word;
  margin: 10px 0;
}

.tag {
  flex: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1px;
  padding-bottom: 4px;
}

.tag > span {
  font-size: x-small;
  padding: 1px;
  margin: 1px;
  border: 1px dotted gray;
  background-color: rgba(200, 200, 200, 0.2);
  cursor: pointer;
}
.tag > span:hover {
  background-color: rgba(200, 200, 200, 0.8);
}

.introduce {
  flex: auto;
  color: rgb(90, 90, 90);
  font-size: small;
  padding: 1px;
  overflow-wrap: break-word;
  margin-top: 10px;
}
