/* init css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  height: 100%;
  background-color: #eee;
}

/* App css */
.myapp {
  justify-content: center;
  min-width: 400px;
}

.top {
  display: none;
}

.left {
  height: 98vh;
  margin-top: 10px !important;
}

.right {
  height: 98vh;
  margin-top: 10px !important;
}

/* hide the LeftPart and display the Top Part when the width of devices lower than 768px */
@media screen and (max-width: 768px) {
  .top {
    display: block;
  }
  .left {
    display: none;
  }
}
