/* init css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  height: 100%;
  background-color: #eee;
}

/* App css */
.myapp {
  justify-content: space-around;
}

.left {
  height: 98vh;
  margin-top: 10px !important;
}

.right {
  height: 98vh;
  margin-top: 10px !important;
  border: 1px solid red;
}
